@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a:hover{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
}

.bgWhite{
    background-color: #FFFFFF;
}

.bgBlue{
    background-color: #5591CD;
}

.bgGreen{
    background-color: #00A169;
}

.bgLightBlue{
    background-color: #E1F0FC;
}

.fontBlack{
    color: #3E4040;
}

.fontWhite{
    color: #FFFFFF;
}

.fontGrey{
    color: #7A7A7A;
}

.fontBlue{
    color: #5591CD;
}

.fontGreen{
    color: #00A169;
}

.regular{
    font-weight: 400;
}

.bold{
    font-weight: 600;
}

.mayuscula{
    text-transform: uppercase;
}

.linealWhiteButton{
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    padding: 0;
    font-size: 1.1em;
    height: 2.7em;
    width: 9.125em;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverGreenButton{
    color: #FFFFFF;
    background-color: #00A169;
    padding: 0;
    font-size: 1.1em;
    height: 2.5em;
    width: 7.2em;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.coverGreenButton:hover{
    background-color: #018658;
    color: #FFFFFF;
}

i.fas.fa-caret-right {
    margin-left: 1em;
}

.titles{
    font-size: 2em;
}

.block{
    display: block;
}

.flex{
    display: flex;
}

.none{
    display: none;
}

nav.migaPan{
    width: 100%;
}

nav.migaPan ul{
    display: flex;
    font-size: .875em;
    
}

nav.migaPan ul li a{
    color: #3E4040;
}

nav.migaPan ul li:last-child a{
    color: #5591CD;
}

nav.migaPan ul span{
    padding: 0 .5em
}




/* Header */

header{
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    border-bottom: solid 2px #5591CD;
}

div.headerBox{
    padding: 1.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.headerBox .upNav{
    display: flex;
    justify-content: space-between;
}

#btnMenu{
    cursor: pointer;
    height: 1.6em;
    width: 1.6em;
    background-color: #FFFF;
    border-radius: 3px;
    border: solid 2px #5591CD;
    font-size: 1.57em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconCloseHide{
    display: none;
}

.iconClose{
    display: block;
}

nav.supNav{
    display: none;
}

nav.hiddenSupNav{
    display: none
}

img#logoHeader{
    display: block;
    width: auto;
    max-height: 2em;
}

.mainNav{
    width: 100%;
    position: fixed;
    left: -100%;
    top: 4.5em;
    transition: all ease .4s;
    z-index: 9000;
}

.hideMenu{
    left: 0;
}

nav.mainNav ul li{
    border-bottom: 1px solid #E1F0FC;
}

nav.mainNav ul li a{
    display: block;
    padding: .8em 1.3em;
    display: flex;
    justify-content: space-between;
    transition: all .2 ease;
}

nav.mainNav ul li.active a{
    color: #5591CD;
}

nav.mainNav ul li ul.subMenu{
    background-color: #F5FBFF;
    
}

.subMenu{
    display: none;
    transition: all .5s ease;
}

.subMenuView{
    display: block;
    transition: all .2s ease;
}

.submenuDownHide{
    display: none;
}

.submenuDown{
    display: block;
}



/* -Slider- */
#sliderContent{
    height: 100vh;
    overflow: hidden;
}

.sliderIndex{
        width: 100%;
    margin: auto;
    overflow: hidden;
    height: 100vh;
    z-index: -10;
    /*position: fixed;*/
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    
}

.sliderIndex ul{
    display: flex;
    padding: 0;
    width: 2000%;
    animation: cambio 30s infinite alternate;
    animation-timing-function: ease-out;
    
}

.sliderIndex li{
    width: 500%;
    position: relative;
}

.sliderIndex img{
    width: 100%;
    height: 100vh;
    margin-left: 10%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.sliderFrame{
    /*position: relative;*/
}

.sliderInfo{
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 1em;
    margin-top: 0;
}

.sliderSection{
    border-bottom: solid 2px #FFFF;
    padding: .3em;
    margin-bottom: 1em;
    font-size: 1em;
}

.sliderTitle{
    margin-bottom: 3em;
}

.sliderFigure{
    position: relative;
}

.sliderFilter{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(85, 117, 205, 0.55)
}

.searchTop{
    display: none;
}





/* -Slider Bootstrap- */
.carousel-item {
    height: 100vh;
}

.w-100 {
    width: 100%!important;
    height: 100%;
    object-fit: cover;
}




/* -Main- */
.mainBox{
    padding: 2em 0 6em 0;
}

.contentMain{
    padding: 0 2em;
    text-align: center;
}

.slogan{
    padding: 2em 0;
}




/* -Home Industrias- */
li.industriasItem{
    border: solid 1px #C4D9F2;
    border-radius: 3px;
    padding: 0;
    position: relative;
    margin-bottom: 5em;
    transition: all .3s ease;
}

li.industriasItem:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    transition: all .2s ease;
}

li.industriasItem>a{
    display: block;
    padding: 0;
}

figure.industriasImage{
    margin: 0;
}

figure.industriasImage img{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    height: 12.25em;
    object-fit: cover;
    object-position: center;
}

div.industriasInfo{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.industriasInfo p{
    margin-bottom: 2em;
    background-color: #FFFFFF;
}

div.contentIcon{
    width: 100%;
    position: absolute;
    top: -2.15em;
}

div.industriasIcon{
    height: 4.31em;
    width: 4.31em;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #5591CD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

div.industriasIcon img{
    display: block;
    max-height: 2.9em;
}





/* -Home Productos- */
.productosItem{
    border: 1px solid #C4D9F2;
    border-radius: 3px;
    margin-bottom: 2em;
}

.productosItem:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}

.cabecera h3,
.cabecera a{
    margin: auto;
}

.cabecera>a{
    order: 2;
    margin-top: 2em
}

.entryPage:hover,
.entryPage:hover i{
    color: #33699f;
}

.productosList{
    margin: auto;
    margin-top: 2.5em;
}

figure.productosImage{
    margin: 0
}

.productosImage img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.productosInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #E1F0FC;
    padding: .8em;
}

.productosIcon img{
    max-height: 2.2em;
    border-right: 1px #5591CD solid;
    padding: 0 .8em;
    
}

.productosInfo h4{
    flex: 1;
    text-align: start;
    padding: 0 .8em;
    font-size: 1em;
    display: flex;
    align-content: center;
    margin: 0;
}

.productoDestacado{
    margin-top: 2em;
}

.productoDestacado a:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.productoDestacado a{
    display: block;
    border: 1px solid #C4D9F2;
    border-radius: 3px;
    width: 100%;
    padding: 0
}

.productoDestacado figure{
    margin: 0;
    background-color: #ffffff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
    overflow: hidden;
    width: 100%;
}

.productoDestacado figure img{
    display: block;
    width: 100%;
    height: 22em;
    object-fit: cover;
}

.destacadoInfo{
    padding: 1em
}

.destacadoInfo h4{
    margin-bottom: 1em;
    font-size: 1.7em;
}

.destacadoInfo button{
    margin: auto;
    margin-top: 2em
}




.headPage{
    background-image: url(img/novedades/portada-novedades.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

.filterPage{
    background-color: rgba(85,145,205,.5);
    padding: 2.5em;
}

.filterSection{
    background-color: rgba(85,145,205,.5);
    padding: 4em 0;
}

.headPage h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.topMargin{
    margin-top: 81.5px;
}



/* -Header Novedades*/
section.novedades{
    background-image: url(img/bg-novedades.jpg);
    background-position: center;
    background-size: cover;
}

ul.cardsNovedades {
    display: block;
    margin-top: 2.5em
}

section.novedades ul.cardsNovedades li{
    padding: 1.8em 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22em;
    text-align: start;
    border-radius: 3px;
    transition: all .3s ease;
    width: 100%;
/*    max-width: 22em;*/
    margin: auto;
    margin-bottom: 1em
}

section.novedades ul.cardsNovedades li:hover{
    background-color: #eef7ff;
}

section.novedades ul.cardsNovedades li:hover i.fas.fa-caret-right{
    color: #028155
}

section.novedades ul.cardsNovedades li:hover h4{
    text-decoration: underline;
    transition: all .3s ease;
}

section.novedades ul.cardsNovedades li a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

section.novedades ul.cardsNovedades li h4{
    font-size: 2em;
}

section.novedades ul.cardsNovedades li h5{
    font-size: .875em;
    border-bottom: solid 1px #5591cd;
    margin-bottom: 1.2em;
    padding: .2em 0;
    display: inline-block;
}

section.novedades ul.cardsNovedades li span{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

section.novedades ul.cardsNovedades li span i.fas.fa-caret-right{
    margin: 0;
    font-size: 2.2em
}

.novedades .entryPage:hover,
.novedades .entryPage:hover i{
    color: #E1F0FC;
}








/* -Novedades- */




.contentCard{
    padding: .4em;
}

.contentCard:hover.contentCard .card{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.contentCard:hover button{
/*    color: #007e52;*/
    font-weight: 500;
}

.card{
    
    justify-content: flex-end;
}

.cardNews{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.cardNews h2{
    font-size: 1.2em;
    line-height: 1.4em;
}

.cardNews h3{
    font-size: .875em;
    border-bottom: solid 1px #5591cd;
    margin-bottom: 1.2em;
    display: inline-block;
    padding: .2em 0
}

.cardNews p{
    font-size: .875em
}

.cardNews button{
    border: none;
    background-color: transparent;
    font-size: .875em;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.cardNews button i.fas.fa-caret-right{
    margin-bottom: .25em;
}


.novBox .contentNews img.card-img-top {
    /* height: 32%; */
    object-fit: cover;
    height: 155px;
}


.filtroBusqueda{
    
}

.filtroBusqueda .tituloFiltro{
    font-size: 1em;
    text-align: start
}

.selectPublicacion,
.selectCategoria,
.selectIndustria{
    margin-bottom: 2em
}

.formBlue{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.formBlue label{
    width: 100%
}

.formBlue input{
    width: calc(100% - 44px);
    height: 44px;
    border: solid 1px #C4D9F2;
    padding: .5em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.formBlue select{
    width:100%;
    height: 44px;
    border: solid 1px #C4D9F2;
    padding: .5em;
    border-radius: 3px;
}

.formBlue input::placeholder,
.formBlue select{
    color: #5591CD;
    font-size: 1em;
}

.formBlue button{
    height: 44px;
    width: 44px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.filtroBusqueda .selectIndustria{
    
}

.checkbox {
    display: flex;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    text-align: start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.selectIndustria label{
    background-color: #E1F0FC;
    color: #5591CD;
    display: flex;
    align-items: center;
    padding: .5em;
    margin-bottom: .5em;
    border-radius: 3px;
}

.selectIndustria label img{
    height: 30px;
    margin-right: .5em
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: all .2s ease;
}

.checkbox:hover input ~ .check {
    border: 1px solid #2489C5;
    transition: all .2s ease;
}

.checkbox input:checked ~ .check {
    background-color: rgba(0,0,150,.1);
    border:none;
}




.selectArchivo ul li a{
    font-size: .875em;
    color: #7A7A7A;
    display: block;
    text-align: left;
    padding: .1em
}

.selectArchivo ul li a:hover{
    font-weight: 600;
}






/*----Mediaquery----*/

@media(min-width:25em){
    
    
    
    .sliderInfo{
        height: 100%;
    }
    
}

@media(min-width:65em){
    
    .topMargin{
        margin-top: 136.5px;
    }
    
    img#logoHeader{
        max-height: 3em;
        transition: all .3s ease;
    }
    
    .titles{
        font-size: 3em;
    }

    div.headerBox{
        display: block;
        padding: 1.3em 1.3em 0 1.3em;
    }
    
    nav.mainNav{
        display: flex;
        justify-content: space-between;
    }
    
    nav.mainNav ul{
        display: flex;
    }
    
    nav.mainNav ul li{
        border-bottom: none;
    }
    
    nav.supNav{
        display: block;
    }
    
    nav.hiddenSupNav{
        display: none;
    }
    
    nav.supNav ul{
        display: flex;
    }
    
    nav.mainNav ul li.active a{
        color: #5591CD;
        border-bottom: 4px solid #5591CD;
    }
    
    nav.mainNav ul li a:hover{
        background-color: #FFFFFF;
        border-bottom: 4px solid #5591CD; 
        transition: all .2s ease;
    }
    
    #btnMenu{
        display: none;
    }
    
    .fa-caret-right{
        margin-left: .4em
    }
    
    .mainNav{
        width: 100%;
        position: static;
    }
    
    nav.mainNav ul{
        margin-bottom: 0;
    }
    
    nav.mainNav ul.subMenu{
        display: none;
        position: absolute;
    }
    
    .btnSection:hover ul.subMenu{
        display: block;
        z-index: 9000;
    }
    
    .languages{
        display: none;
    }
    
    .searchTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .inputSearch input{
        border: none;
        border-bottom: solid 1px #5591CD;
        color: #5591CD;
    }
    
    .inputSearch input::placeholder{
        color: #5591CD;
        font-size: 1em;
    }
    
    .searchTop button{
        border: none;
        background: transparent;
        color: #5591CD;
        margin-left: 1em;
        font-size: 1.1em;
    }
    
    nav.mainNav ul li a {
        padding: 1em 0em;
        margin-right: 2em;
        border-bottom: 4px solid #FFFF;
        transition: all .2s ease;
    }
    
    nav.mainNav ul li a:hover {
        color: #5591CD;
        transition: all .4s ease;
    }
    
    nav.mainNav ul li ul.subMenu li a{
        border-bottom: solid 1px #FFFFFF;
        margin: 0;
        padding: .7em;
    }
    
    nav.mainNav ul li ul.subMenu li a:hover{
        border-bottom: solid 1px #5591CD;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    /* -slider- */
    .sliderIndex ul {
        width: 400%;
    }
    
    .sliderIndex li {
        width: 100%;
    }
    
    .sliderIndex img {
        width: 100%;
        height: 100vh;
        margin-left: 0;
    }
    
    .sliderInfo{
        top: 0;
        left:0;
        height: 100%;
        width: 100vw;
        margin-top: 0;
    }
    
    .sliderSection{
        font-size: 1.3em;
    }
    
    .sliderTitle{
        font-size: 3.2em;
        max-width: 50%;
    }
    
    /*@keyframes cambio{
        0%{margin-left: -0%;}
        25%{margin-left: -0%;}

        30%{margin-left: -100%;}
        55%{margin-left: -100%;}

        60%{margin-left: -200%;}
        85%{margin-left: -200%;}

        90%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }*/
    
    .linealWhiteButton {
        
    }
    
    .linealWhiteButton:hover {
        background-color: rgba(255,255,255,.2);
        color: #FFFFFF;
    }
    
    .mainBox,
    .footerBox{
        width: 100%;
        margin: auto;
        padding: 2em 0 8em 0;
        
    }
    
    /* -Home Industrias- */
    
    ul.industriasList{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    li.industriasItem{
        width: 48%;
    }
    
    .industriasInfo{
        min-height: 260px;
    }
    
    /* -Home Productos- */
    .productosItem{
        margin-bottom: 0;
    }
    
    .cabecera{
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .cabecera h3,
    .cabecera>a{
        width: 50%;
    }
    
    .cabecera h3{
        text-align: start;
    }
    
    .cabecera>a{
        text-align: end;
        order: 0;
    }
    
    .productosList{
        display: flex;
        justify-content: space-between;
    }
    
    .productosList li{
        width: 24%;
    }
    
    
    /* -Home Productos destacados- */
    .productoDestacado a{
        display: flex;
    }
    
    .productoDestacado figure{
        clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
        order: 1;
        min-height: 286px;
    }
    
    .productoDestacado figure img{
        width: 90%;
        height: 16em;
        object-fit: cover;
        float: right;
    }
    
    .productoDestacado figure{
        width: 60%;
    }
    
    .productoDestacado .destacadoInfo{
        width: 40%;
    }
    
    .destacadoInfo{
        padding: 2em;
        display: flex;    
        flex-direction: column;
        justify-content: space-between;    
        text-align: start
    }
    
    .destacadoInfo h4{
        font-size: 2.7em;
        margin-bottom: 0em;
    }
    
    .destacadoInfo button{
        margin: 0;
    }
    
    
    
    
    
    
    /* -Home Novedades- */
    ul.cardsNovedades {
        display: flex;
        justify-content: space-between;
    }
    
    section.novedades ul.cardsNovedades li{
        width: 32%;
        margin: 0;
    }
    
    .filterSection{
        padding: 6em 0;
    }
    
    
    
    
    /* -Novedades- */
    .novBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .novBox div.contentNews{
        width: 77%
    }
    
    .novBox aside{
        width: 21%;
        order: 1
    }
    
    .filtroBusqueda{
        position: sticky;
        top: 10em;
    }

    
}

@media(min-width: 71em){
    
    
    .card{
        min-height: 100%;
    }
    
    
    /* -Home Industrias- */
    
    ul.industriasList{
        display: flex;
        justify-content: space-between;
    }

    li.industriasItem{
        width: 24%;
    }
    
    .industriasInfo{
        min-height: 277px;
        padding-top: .5em;
    }
    
    div.industriasInfo h4{
        max-width: 8em;
        margin: auto;
    }
    
    .productoDestacado figure{
        width: 55%;
    }
    
    .productoDestacado .destacadoInfo{
        width: 45%;
    }
}

@media(min-width: 100em){
    
    .topMargin{
        margin-top: 185.5px;
    }
    
    div.headerBox{
        padding: 0;
        padding-top: 3em;
        width: 87%;
        margin: auto;
    }
    
    nav.mainNav ul li a{
        font-size: 1.4em
    }
    
    nav.mainNav ul li a.itemNav{
        font-size: 1.2em;
    }
    
    div.mainBox,
    div.footerBox{
        width: 68%;
    }
    
}